package home

import (
	"github.com/joeychilson/lixy/pkg/users"
	"github.com/joeychilson/lixy/templates/layouts/app"
)

type Props struct {
	User *users.User
}

templ Page(props Props) {
	@app.Layout(app.Props{Title: "Home", User: props.User})
}
