package feed

import (
	"github.com/joeychilson/links/database"
	"github.com/joeychilson/links/internal/session"
	"github.com/joeychilson/links/templates/components/link"
	"github.com/joeychilson/links/templates/layouts/app"
)

type Props struct {
	User         *session.User
	LinkFeedRows []database.LinkFeedRow
}

templ Page(props Props) {
	@app.Layout(app.Props{Title: "Feed", User: props.User}) {
		for _, row := range props.LinkFeedRows {
			@link.Component(link.Props{Link: row})
		}
	}
}
