package home

import "github.com/joeychilson/lixy/layouts/app"
import "github.com/joeychilson/lixy/models"

type Props struct {
	User models.User
}

templ Page(props Props) {
	@app.Layout(app.Props{Title: "Home", User: props.User})
}
