package app

import (
	"github.com/joeychilson/lixy/components/header"
	"github.com/joeychilson/lixy/layouts/base"
	"github.com/joeychilson/lixy/models"
)

type Props struct {
	Title string
	User  models.User
}

templ Layout(props Props) {
	@base.Layout(props.Title) {
		@header.Component(header.Props{
			User: props.User,
		})
		{ children... }
	}
}
