package feed

import (
	"github.com/joeychilson/links/database"
	"github.com/joeychilson/links/pages/layout"
	"github.com/joeychilson/links/pkg/session"
	"github.com/joeychilson/links/components/link"
)

type Props struct {
	User  *session.User
	Links []database.LinkRow
}

templ Page(props Props) {
	@layout.Layout(layout.Props{Title: "Feed", User: props.User}) {
		for _, row := range props.Links {
			@link.Component(link.Props{User: props.User, Link: row, RedirectURL: "/"})
		}
	}
}
